@charset "UTF-8";
@media only screen and (max-width: 767px){
body{
	width: auto;
	height: auto;
	font-family:"游明朝", "Yu Mincho", YuMincho, “ヒラギノ明朝 ProN W3”, “Hiragino Mincho ProN”, “メイリオ”, Meiryo, serif;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
}
#wrap{
	max-width: 100%;
	height: auto;
	width:auto;
	margin: 0 auto;
}

.indent-1 span{
  font-size: 200%;
}

.indent-1{
  writing-mode: tb-rl;
  font-size: 100%;
  font-weight: bold;
  font-family:"游明朝", "Yu Mincho", YuMincho, “ヒラギノ明朝 ProN W3”, “Hiragino Mincho ProN”, “メイリオ”, Meiryo, serif;
  letter-spacing: 5px;
  color: #313131;
  line-height:1.8em;
  text-indent:-35px;
  padding-top: 10%;
  margin:0 auto;
}

.no-indent{
  writing-mode: tb-rl;
  font-size: 100%;
  font-weight: bold;
  font-family:"游明朝", "Yu Mincho", YuMincho, “ヒラギノ明朝 ProN W3”, “Hiragino Mincho ProN”, “メイリオ”, Meiryo, serif;
  letter-spacing: 7px;
  color: #313131;
  line-height:1.8em;
  padding-top: 10%;
  margin:0 auto;
}

#mentaiko-right .indent-1{
  padding-bottom:10%;
}


#menu01,
#menu02{
	display: box;
	display: -webkit-box;　
	display: -moz-box;
	box-pack: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	text-align: center;
}

#menu01 a:hover img,
#menu02 a:hover img{
	opacity: 0.7;
	filter: menu(opacity=70);
	-ms-filter:"menu(opacity=70)";
}

#gNavi1,
#gNavi2{
	margin:0;
}

#gNavi1 ul,
#gNavi2 ul{
	margin:0;
	padding:0;
	list-style:none;
}

#gNavi1 li,
#gNavi2 li{
	display:block;
}


#gNavi1 img,
#gNavi2 img{
	width:100%;
}


 
h1{
	margin: 0px;
	font-size: 120%;
	padding-left:2%;
}
h2{
	margin: 0px;
	font-size: 120%;
	padding-left:2%;
}

p{
	margin: 0px;
	font-size: 100%;         
}
#roppouginmai{
	width: auto;
	font-size: 14px;
}
#roppouginmai h1{
	padding-left: 10px;
}
#roppouginmai h2{
	padding-left: 10px;
}
#roppouginmai-left{
	width:auto;
}
#roppouginmai-left img{
	width:100%;
}
#roppouginmai-left p{
	padding: 0 10px 0 10px;
}

#roppouginmai-right{
	width:auto;
}
#roppouginmai-right img{
	width:100%;
}
#roppouginmai-right p{
	padding: 0 10px 0 10px;
}

#sanchi {
	margin-top: 40px;
}
#sanchi img{
	margin-top: 10px;
}
#sanchi2{
	display: -webkit-box;　
	display: -moz-box;　
}
#sanchi2 img{
    width:100%;
}
.none p{
	
	padding: 0 1% 1% 1%;
}

#okazu {
	margin:15% 0 10%;
	padding-top: none;
}
#okazu img{
}

#umeboshi{
	width:100%;
}

#umeboshi-top img{
	width:100%;
	margin:5% 0;
}

#umeboshi_contents01{
	width:90%;
	display:block;
	margin:5% auto;
}

.umeboshi_contents01_txt{
	width:70%;
	display:block;
	writing-mode: tb-rl;
	font-size: 100%;
	font-weight: bold;
	font-family:"游明朝", "Yu Mincho", YuMincho, “ヒラギノ明朝 ProN W3”, “Hiragino Mincho ProN”, “メイリオ”, Meiryo, serif;
	letter-spacing: 5px;
	color: #313131;
	line-height:1.5em;
	text-indent:-35px;
	margin:10% auto 0;
	*display:inline;
	*zoom:1;
}

.umeboshi_contents01_txt span{
  font-size: 200%;
}

.umeboshi_contents01_img{
	width:90%;
	display:block;
	margin:2% auto;
}

#umeboshi_contents02{
	width:90%;
	display:block;
	margin:0 auto 5%;
}

.umeboshi_contents02_txt{
	width:70%;
	display:block;
	writing-mode: tb-rl;
	font-size: 100%;
	font-weight: bold;
	font-family:"游明朝", "Yu Mincho", YuMincho, “ヒラギノ明朝 ProN W3”, “Hiragino Mincho ProN”, “メイリオ”, Meiryo, serif;
	letter-spacing: 7px;
	color: #313131;
	line-height:1.5em;
	margin:0 auto;
}

.umeboshi_contents02_img{
	width:90%;
	display:block;
	margin:2% auto;
}

#mentaiko{
	width:100%;
}

#mentaiko-top img{
	width:100%;
	margin:5% 0;
}

#mentaiko_contents01{
	width:90%;
	display:block;
	margin:5% auto;
}

.mentaiko_contents01_txt{
	width:70%;
	display:block;
	writing-mode: tb-rl;
	font-size: 100%;
	font-weight: bold;
	font-family:"游明朝", "Yu Mincho", YuMincho, “ヒラギノ明朝 ProN W3”, “Hiragino Mincho ProN”, “メイリオ”, Meiryo, serif;
	letter-spacing: 5px;
	color: #313131;
	line-height:1.5em;
	text-indent:-35px;
	margin:10% auto 0;
	*display:inline;
	*zoom:1;
}

.mentaiko_contents01_txt span{
  font-size: 200%;
}

.mentaiko_contents01_img{
	width:90%;
	display:block;
	margin:2% auto;
}

#mentaiko_contents02{
	width:90%;
	display:block;
	margin:0 auto 5%;
}

.mentaiko_contents02_txt{
	width:70%;
	display:block;
	writing-mode: tb-rl;
	font-size: 100%;
	font-weight: bold;
	font-family:"游明朝", "Yu Mincho", YuMincho, “ヒラギノ明朝 ProN W3”, “Hiragino Mincho ProN”, “メイリオ”, Meiryo, serif;
	letter-spacing: 7px;
	color: #313131;
	line-height:1.5em;
	margin:0 auto;
}

.mentaiko_contents02_img{
	width:90%;
	display:block;
	margin:2% auto;
}

#nametake{
	width:100%;
}

#nametake-top img{
	width:100%;
	margin:5% 0;
}

#nametake_contents01{
	width:90%;
	display:block;
	margin:5% auto;
}

.nametake_contents01_txt{
	width:70%;
	display:block;
	writing-mode: tb-rl;
	font-size: 100%;
	font-weight: bold;
	font-family:"游明朝", "Yu Mincho", YuMincho, “ヒラギノ明朝 ProN W3”, “Hiragino Mincho ProN”, “メイリオ”, Meiryo, serif;
	letter-spacing: 5px;
	color: #313131;
	line-height:1.5em;
	text-indent:-35px;
	margin:10% auto 0;
	*display:inline;
	*zoom:1;
}

.nametake_contents01_txt span{
  font-size: 200%;
}

.nametake_contents01_img{
	width:90%;
	display:block;
	margin:2% auto;
}

#nametake_contents02{
	width:90%;
	display:block;
	margin:5% auto;
}

.nametake_contents02_txt{
	width:70%;
	display:block;
	writing-mode: tb-rl;
	font-size: 100%;
	font-weight: bold;
	font-family:"游明朝", "Yu Mincho", YuMincho, “ヒラギノ明朝 ProN W3”, “Hiragino Mincho ProN”, “メイリオ”, Meiryo, serif;
	letter-spacing: 5px;
	color: #313131;
	line-height:1.5em;
	text-indent:-35px;
	margin:10% auto 0;
	*display:inline;
	*zoom:1;
}

.nametake_contents02_txt span{
  font-size: 200%;
}

.nametake_contents02_img{
	width:90%;
	display:block;
	margin:2% auto;
}

#nametake_contents03{
	width:90%;
	display:block;
	margin:0 auto 5%;
}

.nametake_contents03_txt{
	width:70%;
	display:block;
	writing-mode: tb-rl;
	font-size: 100%;
	font-weight: bold;
	font-family:"游明朝", "Yu Mincho", YuMincho, “ヒラギノ明朝 ProN W3”, “Hiragino Mincho ProN”, “メイリオ”, Meiryo, serif;
	letter-spacing: 7px;
	color: #313131;
	line-height:1.5em;
	margin:0 auto;
}

.nametake_contents03_img{
	width:90%;
	display:block;
	margin:2% auto;
}

#ranking{
	position:static;
	display:block;
}
#rankingtop {
	position:static;
	display:block;
	width: 100%;
}
#ranking1{
	padding:5% 0 10%;

}
#ranking1 img{
	position:static;
	display:inline-block;
    width:45%;
	padding-left:5%;
}

#ranking1 a img{
	position:static;
	display:inline-block;
    width: 35%;
	padding-left:8%;
}

h2.ranking1 {
	position:static;
	display:block;
    color: #993333;
    line-height: 110%;
    width:100%;
	margin:0 auto;
	padding:5% 0;
}
p.ranking1{
	position:static;
	display:block;
    width: 90%;
    font-size: 15px;
	margin:0 auto;
}

ul.ranking1{
	position:static;
	display:block;
    width: 90%;
    font-size: 95%;
	margin:0 auto;
}

#ranking2{
	padding:5% 0 10%;
}
#ranking2 img{
	position:static;
	display:inline-block;
    width: 45%;
	padding-left:5%;
}

#ranking2 a img{
	position:static;
	display:inline-block;
    width: 35%;
	padding-left:8%;
}

h2.ranking2 {
	position:static;
	display:block;
    color: #993333;
    line-height: 110%;
    width:100%;
	margin:0 auto;
	padding:5% 0;
}

p.ranking2{
	position:static;
	display:block;
    width: 90%;
    font-size:95%;
	margin:0 auto;
}

ul.ranking2{
	position:static;
	display:block;
    width: 90%;
	margin:0 auto;
}

#ranking3{
	padding:5% 0 10%;
}
#ranking3 img{
	position:static;
	display:inline-block;
    width:45%;
	padding-left:5%;
}

#ranking3 a img{
	position:static;
	display:inline-block;
    width: 35%;
	padding-left:8%;
}

h2.ranking3 {
	position:static;
	display:block;
    color: #993333;
    line-height: 110%;
    width:100%;
	margin:0 auto;
	padding:5% 0;
}

p.ranking3{
	position:static;
	display:block;
    width: 90%;
    font-size:95%;
	margin:0 auto;
}

ul.ranking3{
	position:static;
	display:block;
    width: 90%;
	margin:0 auto;
}

ul   { list-style:none;
	   padding: 0;
}

footer{
	padding:5% 0 2%;
}

footer p {
	position:static;
	font-size:85%;
	text-align:center;
}
#anchor_link{
	display: none;
	text-align: right;
	position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;

}


}
